*{
    padding: 0%;
    margin: 0%;
}
#navbar{
    position: fixed;
    box-shadow: none;
    height:81px;
    width: 100%;
    background-color: #001524; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#image1{
    height: 60px;
    width: 60px;
    position:fixed;
    top:8.5px;
    left:9px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBJcPYQO-t2vzPQ4f_AcEu2xuAPfuEZRIswQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 100px;
}
#image{
    height: 60px;
    width: 60px;
    position:fixed;
    top:8.5px;
    right:9px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-hwRtf44uvzNoXKGcvX4mFbdee8IR0Z52Sg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 100px;
}
::placeholder{
    color: #640404;
    background-color: #d4eeff;
}
.atag1{
    height: 30px;
    width: auto;
    background-color:#ffffff;
    color: #000a90;
    border: 2px double rgb(255, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-size: 23px;
    margin-right: 14px;
    padding: 2px;
    border-radius: 9px;
}
#navbar:hover{
    background-color: #16063d;
    color:rgb(92, 6, 6);
    border: 1px double rgba(63, 0, 254, 0.388)
}
.atag1:hover{
    background-color: rgb(0, 255, 229);
    color:rgb(0, 0, 0);
    border: 3px double rgb(254, 135, 0)
}
#control{
    width: auto;
    margin-left: -195px;
}
.search{
    position: fixed;
    top: 30px;
    right: 85px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid white;
}
.search1{
    position: fixed;
    top: 30px;
    right: 85px;
    color: black;
    background-color: rgb(255, 140, 0);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px double rgb(255, 255, 255);
}
#bar1{
    height: 90px;  
    width: auto;
    background-color: #f08804;
}
#outer{
    height:2000px;
    width: 100%;
}
#transparent{
    height: 1000px;
    width: 100%;
    background-image: url(/Screenshot\ 2023-10-09\ 163447.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    margin-top: 0px;
    position: static;
}
.qwerty{
    height: 110px;
    width: 400px;
    position: static;
    margin-left: 0px;
    margin-top:-887px;
    border: 2px double rgb(0, 0, 0);
}
.qwerty1{
    height: 110px;
    width: 400px;
    position: static;
    margin-left: 0px;
    margin-top:-887px;
    border: 2px double rgb(0, 0, 0);
}
#text0{
    height: 60px;
    width: autopx;
    color: rgb(17, 0, 0);
    font-size:45px;
    background-color: #f9ababe9;
    margin-top: -800.5px;
    border: 4px double black;
}
#login0{
    position: static;
    height: 350px;
    width: 501px;
    margin-top: -870px;
    margin-left: 368px;
    background-image: linear-gradient(to bottom right, rgba(98, 109, 110, 0.751), rgba(255, 255, 255, 0.845),#655656);
    border: 10px double black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#fly{
    height: 30px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bolder;
    color: #001524;
    font-family: 'Times New Roman', Times, serif;
    animation: anime 2s linear 4s infinite ;
    border: 2px solid #0011ff9b; 
}
@keyframes anime {
    0%{
        background-color: aqua;
        color: rgb(0, 0, 0);
        text-decoration: rgb(255, 0, 115) double underline;
    }
    50%{
        background-color: rgb(148, 97, 49);
        color: #ffffff;
        text-decoration: rgb(0, 255, 200) wavy underline;
    }
    100%{
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        text-decoration: rgb(246, 255, 0) solid underline;
    }
}
.login-container{
    text-align: center;
    margin-top: -1801px;
    margin-left: 458px;  
}
.login-form {
    width: 300px;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(165, 150, 150),rgb(0, 0, 0));
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
h2 {
    margin-bottom: 20px;
    color: #f08804;
    text-decoration: underline;
  }
  
.label0 {
    display:block;
    margin-bottom: 8px;
    color: #00ffd9;
    font-size: 17px;
    font-weight: 600;
  }
  
.inp {
    width: auto;
    padding: 8px;
    margin-bottom: 16px;
  }
  
.case1{
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
#d3{ 
    color: white;
    text-decoration:none ;

}
  button:hover {
    background-color: #2980b9;
  }
  #transparent1{
    height: 800px;
    width: 100%;
    margin-top: 203px;
    background-image: url(/Screenshot\ 2023-10-10\ 115016.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    position: static;
}
#converter {
    height: 400px;
    width: 400px;

    border-color: blueviolet;
    background-color: rgba(168, 255, 226, 0.315);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;

}
#fun{
    background-color: rgb(9, 47, 217);
}
#login{
    height: 100px;
    width: 100px;
    background-color: #400D51;
    display:flex;
    justify-content: center;
    align-items: center;
}
#currency_form{
    height: 300px;
    width: 501px;
    background-color:#f9ababae;
    color:rgb(56, 56, 56);
    border: 10px double #3b0011;
    position: static;
    margin-left: 370px;
    margin-top: -700px;

}
#logo{
    position: fixed;
    top: 20px;
    left: -230px;
    color: #ff9100;
    font-size: 25px;
}
#ry{
    height: 20px;
    width: 20px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: #f08804;
    color: aqua;
}
#ou{
    color: #D6CC99;
    margin-right: 160px;
    margin-left: 120px;
    text-decoration: none;
    
}
.keeper{
    height: 2px;
    width: auto;
    background-color:white;
}
#stock{
    height: 50px;
    width: 202px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl0IeIA5G07gdDjA5igUxCwGpZHlD2uJ6bhQ&usqp=CAU);
    background-repeat: no repeat;
    background-size: cover;
    border: 4px double rgb(216, 0, 94);
}
#pop{
    height: 58px;
    width: auto;
    background-color: #01012c;
    display: flex;
    justify-content: center;
}
#no{

    background-color:#000000;
    text-align:center;
    font-weight: lighter;
}
#f9 {
    display: block;
    margin-bottom: 8px;
    color: #333; 
  }
#gon1 {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  #gon2 {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
  }
#image12{ 
    height: 800px;
    width:1263px;
    background-image: url(/123.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#thank {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-color:#094748;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration:none ;
    margin: 6px 4px;
    border: 1px double rgb(255, 255, 255) ;
}
  
.fa:hover {
    opacity: 0.5;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 100%;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100%;
}
  
.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 100%;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 100%;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 100%;
}
  
.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 100%;
}
  
.fa-pinterest {
    background: #cb2027;
    color: white;
    border-radius: 100%;
}
  
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    border-radius: 100%;
}
  
.fa-skype {
    background: #00aff0;
    color: white;
    border-radius: 100%;
}
  
.fa-android {
    background: #a4c639;
    color: white;border-radius: 100%;
}
  
.fa-dribbble {
    background: #ea4c89;
    color: white;
    border-radius: 100%;
}
  
.fa-vimeo {
    background: #45bbff;
    color: white;
    border-radius: 100%;
}
  
.fa-tumblr {
    background: #2c4762;
    color: white;
    border-radius: 100%;
}
  
.fa-vine {
    background: #00b489;
    color: white;
    border-radius: 100%;
}
  
.fa-foursquare {
    background: #45bbff;
    color: white;
    border-radius: 100%;
}
  
.fa-quora {
    background-color: rgb(139, 14, 14);
    color:white;
    border-radius:100%;
}
  
.fa-flickr {
    background: #f40083;
    color: white;
    border-radius: 100%;
}
  
.fa-yahoo {
    background: #430297;
    color: white;
    border-radius: 100%;
}
  
.fa-soundcloud {
    background: #ff5500;
    color: white;
    border-radius: 100%;
}
  
.fa-reddit {
    background: #ff5700;
    color: white;
    border-radius: 100%;
}
  
.fa-rss {
    background: #ff6600;
    color: white;
    border-radius: 100%;
}
#jin{
    background-color: black;
    height: auto;
    width: 1263px;
    color:white;
    text-align:center;
    animation: lower 2s linear 4s infinite ;
}
@keyframes lower {
    0%{
        color: rgb(0, 0, 0);
    }
    50%{
        color: #ffffff;
    }
    100%{
        color: #ffffff;
    }   
}
#gun1 {
height: 500px;
width: 1260px;
background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDw8NDw8PDw8PDw8PDw8PDw8PDw0PFRUWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDw0NDy0ZFRk3KysrKysrKysrKysrLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAABAgMABAUH/8QAGhABAQEBAQEBAAAAAAAAAAAAAAECERIDE//EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABURAQEAAAAAAAAAAAAAAAAAAAAR/9oADAMBAAIRAxEAPwD5BIeRsw+Y0gTJpk8hpkCTJ5k8yfOVE5g+cKZypnIJ5+amfmpnCucKiWfmpn5LZwrnAI5+R8/F0Zwpn5qjmnyPPi6s/NSfMg4vxH8XbPmP5rBwfiF+LvvzLfkQeffiTXxehr5k180g87XyT18noa+aWsCuDXzT183drCWsIOLXzTuHZrKesoOS4JcOq5Jciua5C5XuS3KCFyW5WsLYCFhbFdQlgKZimYTKuQNmHkCHgDIeQIfKobMUzC5UyofMVzkmVsgbOVs5JmLZVD5yrnJcq5UGZPMtDyKB5HyaQYCfktwrQ0CGsp6yvU9IOfWUdZdO0dA595R1HRpLSK59RLUdGojpBHWU7FtROoJWEsVpKCdhLFKTSKlpOq6SoHwrlPKmQUypE4pBDRTJMniikUynlTKiuVco5VyovhXCOKriiL5Vyhmq5qi2TxLNPKopBTlGaENS2haFooaT0a1PVQJqo6U1UtUEtJaU1U9IJaS0ppPSKnpPUU0nQJSU9JUCUmj0lRUtJ1XSVA+VMpYVyCmTwkPFDw8JDwRTJ8pw8UWzVcoZqmaC+armoZqmao6M1XNc+afOlR0Snlc80eaBeab0j6HoKWhdJ+i3QHuiapbomqDaqWqOqnrSBdVPVNqpaopdVPRtUlqBNJ09pKBaSmpKgWk0ek0ip6Sqmk6BsK5SwrkFIaEh4IeHicPFFIeVOGiiuapmoyqZoLZqmahKeVR0Zp5pCU8oLymmkJo00It6b0lNN6UVui3RPQXQHuiWltLdIDqp6rWk1RQtT1RtJagFqeqbVJqgXRKakqBaWmpaBaSmpKip6TqmkqB8q5SwpkFIeEhoB4aEhoqHh4nDQFJTypw0qisp5UpTSgtKeVGU0qi3Rmkuj6BX03pPregU9BdJ9b0B7ovoloWgNpLWtJag1pbWtJQa0lG0tAKSjS1AKWjQAtJo9JUVPSVV0lQNlXKWVcgeHlJDQDQ0LDRUNDQsGApKaVOGgKSmlTlNKopKaVKU3QU6PU+j0D9HqfW6B+t0nW6BrS9DpegbpbQtC0GtLa1paDWltboVAKWiWgFLRCoBSaNSaFT0nVNJ0DZVyllTIKQxYaAaCWGioaDCwQPBlLBgHlHpJTdUPB6To9A/W6XrdA/W6To9A3W6XodA3QtDodAbQtDodBg63S1Bi0S9BulohQChRKihSaPSaBPSdUqdA2VMp5UyB4aEh4Aw0KIGHpYMVDjKSUQPKPSSjKB5W6XrdA/R6TrdUP1uk63QP1uk63QN1ul6HUDWhaHQ6A9DodDoCFbpaAlrUOgwVgtRQpaNLQJU6ppO0BypEs1SUFIZOUegpKMT6PQU6KfR6CnWlJ0eqHlHqfR6Ifo9T9D0D9HqfW6CnW6n1ugfrdJ1ugfrdJ1ugbrdL6DoG63S9Dopg6XoWga0LQ6HUB6AdDoCSjS0C6Tp7U9A2apKjKaUFpR6l6H0CvW6l6b0C3pvSXpvQLeh9I+m9At6H0j6b0C3pvSXpvQK+m9Jem9At6b0j6b0CvpvSXpvQK+m9Jeg9At6b0j6b0CvpvSXoPQK+m9Jem9Ap0Op+m9Ap0Op+m9AfpbS+gugG0lrWltAIZmARZgYWYAYWBoLMDMzA0ZmAWjMDMzAwMwMIMDVmYGZmAGFgCszADMwA1ZgLQBgf//Z);
background-repeat: no repeat;
background-size: cover;
}
#qaz{
    height: 280px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
}
#folo{
    height: auto;
    width: 1263px;
    color: #EBE3D5;
    text-align: center;
    background-color: rgb(20, 3, 37);
    
}
.bolder{
    text-decoration: underline;
    margin-bottom: 15px;
    font-weight: 400;
}
.help{
    color: white;
    margin: 40px;
    }

.ni0{
    text-decoration: none;
    color: white;
    line-height: 21px;
}
.ni0:hover{
    color: gold;
    text-decoration: underline;
}
#ratings{
    text-align: center;
    color: white;
    background-color: black;
    height: 26px;
    width: 1263px;
    font-size:20px;
}
#rateme{
    text-decoration: none;
    animation: rateme 4s ease-in-out 1s infinite normal;
}
@keyframes rateme {
    0%{color: rgb(255, 255, 255);}
    50%{color: gold;}
    100%{color: pink;}
}
#magi0c{
    background-color: #ffffff;
    height: auto;
    width: 1263px;
}
th{
    border: 1px solid rgb(97, 11, 11);
    border-collapse: collapse;
    height: 50px;
    width: 50px;
    background-color: black;
    animation: random 5s ease-in 1s infinite normal ;
    border: 1px solid black;
    border-collapse: separate;
}
td{
    border: 1px solid rgb(97, 11, 11);
    border-collapse:collapse;
    height: 50px;
    width: 50px;
    background-color: white;
    animation: non 6s ease-out 2s infinite normal ;
    border: 1px solid black;
    border-collapse: collapse;
}
@keyframes random {
    0%{background-color: rgb(0, 0, 0);}
    50%{background-color: rgb(108, 104, 104);}
    100%{background-color: rgb(255, 255, 255);}
}
@keyframes non {
    0%{background-color: rgb(255, 255, 255);}
    50%{background-color: rgb(206, 206, 206);}
    100%{background-color: rgb(0, 0, 0);}
}

